<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.irinnovative.onepagesigninsignup">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar.FullScreen">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".InstitutionActivity" />
        <activity android:name=".activity.ContactsActivity"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_contacts"/>
        <activity android:name=".MentorsActivity" />
        <activity android:name=".IconTextTabsActivity" />
        <activity
            android:name=".activity.ProfileActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.PlacesActivity" />
        <activity android:name=".activity.AbuseActivity" />
        <activity android:name=".activity.SosActivity" />
        <activity android:name=".activity.SupportGroups" />
        <activity android:name=".MentorProfileActivity" />
        <activity android:name=".activity.ChatRoomActivity" />
        <activity android:name=".activity.ChatActivity" />
        <activity android:name=".activity.SosDetailsActivity" />
        <activity
            android:name=".activity.TestomoniesActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".EventsActivity" />
        <activity android:name=".activity.MediaActivity" />
        <activity android:name=".activity.MoviesActivity" />
        <activity android:name=".activity.VideoActivity" />
        <activity android:name=".activity.BooksActivity" />
        <activity
            android:name=".activity.NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"></activity>
    </application>

</manifest>